<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{accueil}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Bibliothèque Municipale - Consultation et prêt d'ouvrages</title>
</head>

<body>

<section layout:fragment="content">

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="green"><strong>Nous vous confirmons bien la fin du prêt.</strong></span>
            </div>

            <div class="panel-body">
                <label>Voici le recapitulatif du prêt terminé </label><br>
                <label>Nom : </label>
                <label th:text="${utilisateur.nom}"></label><br>
                <label>Prénom : </label>
                <label th:text="${utilisateur.prenom}"></label><br>
                <label>Date de début : </label>
                <label th:text="${pret.dateDebut}"></label><br>
                <label>Date de fin : </label>
                <label th:text="${pret.dateFin}"></label><br>
                <label>Ouvrage : </label>
                <label th:text="${pret.ouvrage.titre}"></label><br>
                <label>N° d'exemplaire : </label>
                <label th:text="${pret.exemplaire.id}"></label><br>
                <label>Statut : </label>
                <label th:text="${pret.statut}"></label><br>

            </div>

        </div>

    </div>

</section>

<footer>
    <p layout:fragment="footer"></p>
</footer>

</body>
</html>