<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
        layout:decorate="~{accueil}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Consulter et emprunter des ouvrages</title>
</head>

<body>

<section layout:fragment="content">

    <br>

    <div sec:authorize="hasAuthority('USER')" id="categories_espace_perso_User" class="container">

        <div id="espaceperso_reservations" class="container">
            <form class="form-inline" th:action="@{/ResasUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES RESERVATIONS</strong></button>
            </form>
        </div>

        <div id="espaceperso_demandeDePrets" class="container">
            <form class="form-inline" th:action="@{/DemandeDePretsUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES DEMANDES DE PRETS</strong></button>
            </form>
        </div>

        <div id="espaceperso_prets" class="container">
            <form class="form-inline" th:action="@{/PretsUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES PRETS</strong></button>
            </form>
        </div>

    </div>


    <div  sec:authorize="hasAuthority('ADMIN')" id="categories_espace_perso_Admin" class="container">

        <div id="espacepersoadmin_demandeDePrets" class="container">
            <form class="form-inline" th:action="@{/DemandeDePretsAdmin}" method="get">
                <button class="btn btn-primary"><strong>LES DEMANDES DE PRET</strong></button>
            </form>
        </div>

        <div id="espacepersoadmin_demandeDeReservations" class="container">
            <form class="form-inline" th:action="@{/DemandeDeReservationsAdmin}" method="get">
                <button class="btn btn-primary"><strong>LES DEMANDES DE RESERVATION</strong></button>
            </form>
        </div>

    </div>

</section>

<footer>
    <p layout:fragment="footer"></p>
</footer>


</body>
</html>