<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{accueil}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Consulter et emprunter des ouvrages</title>
</head>

<body>

<section layout:fragment="content">

    <br>

    <div id="categories_espace_perso_User" class="container">

        <div id="espaceperso_reservations" class="container">
            <form class="form-inline" th:action="@{/ResasUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES RESERVATIONS</strong></button>
            </form>
        </div>

        <div id="espaceperso_demandeDePrets" class="container">
            <form class="form-inline" th:action="@{/DemandeDePretsUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES DEMANDES DE PRETS</strong></button>
            </form>
        </div>

        <div id="espaceperso_prets" class="container">
            <form class="form-inline" th:action="@{/PretsUtilisateur}" method="get">
                <button class="btn btn-primary"><strong>MES PRETS EN COURS</strong></button>
            </form>
        </div>

    </div>


    <br>

    <div class="container" th:if="${listeDemandePretByUtilisateur.isEmpty()}">
        <h4><strong>Aucune demande de prêt actuellement</strong></h4>
    </div>

    <div id="listeResas" class="container" th:if="!${listeDemandePretByUtilisateur.isEmpty()}">

        <div class="table-responsive col-lg-12 col-md-10 col-xs-9">
            <div id="titreTableau"><h4><strong> MES DEMANDES DE PRÊT </strong></h4></div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ouvrage</th>
                        <th>Nombre d'ex. disponibles</th>
                        <th>Date de réservation</th>
                        <th>Annuler demande</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pret:${listeDemandePretByUtilisateur}">
                        <td th:text="${pret.ouvrage.titre}"></td>
                        <td th:text="${pret.ouvrage.nbExemplairesDispo}"></td>
                        <td th:text="${pret.dateReservation}"></td>
                        <td><a th:href="@{/AnnulerPret(idPret=${pret.id})}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

<footer>
    <p layout:fragment="footer"></p>
</footer>

</body>
</html>